/*******************************************************************************
 *
 * Nom : style.css
 * Date et auteur :
 *		Créé le 11/03/2020
 *
 * Description :
 *		Fichier CSS du TP sur les bases du CSS
 *
 *******************************************************************************/


* {
  box-sizing: border-box;
}
 

body{
	font-family: Arial,Helvetica,sans-serif;
	background: url(images/bg_body.jpg) top left no-repeat;
}


header{
	margin: 5px;
	padding: 10px;
	background-color: #595959;
	color: white;
	border-radius: 0px;
	font-size: 30px;
	text-align: center;
}

/* Conteneur pour flexbox */
div.contenu {
	display: flex;
}

h1{
    color: red;
    text-align: center;
}
    
.documentation{
    margin: 5px;
	padding: 10px;
	background-color: #009900;
	color: white;
	border-radius: 0px;
	font-size: 15px;
}

#info{
    margin: 5px;
	padding: 10px;
    margin-right: 650px;
    margin-left: 650px;
	background-color: #ff0000;
	color: white;
	border-radius: 4px;
	font-size: 20px;
	text-align: center;
}
 
h2{
    
    background-color: red;
	padding: 10px;
    border-left: 45px solid black;
    
}

nav{
	flex: 25%;
	display: flex;
	flex-direction: column;
	padding: 0px;
	margin: 5px;
}

nav a {
  color: black;
  background-color: #a0f0c0;
  border-radius: 4px;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
}

nav a:hover {
  background-color: #175;
  color: white;
}

nav a.clic{
  background-color: #175;
  color: white;
}

article{
	flex: 75%;
	padding: 10px;
	margin: 5px;
	background-color:white;
	border-radius: 4px;
    border-style: dotted;
}
.code{
    background-color: white;
    border-radius: 2px;
    border-style: groove;
    
}


footer{
	margin: 5px;
	padding: 20px;
	background-color: #E0F0E0;
	font-size: 15px;
	text-align: center;
}

/* Responsive layout */
@media (max-width: 600px) {
  div.contenu {
    flex-direction: column;
  }
  nav, article{
	  flex: 100%;
  }
}

#iframe_css {
	text-align: center;
}

table{
	width: 60%;
	margin: auto;
	line-height: 2em;
}

th{
	background-color: blue;
	color: white;
	height: 3em;
}

tr{
	text-align: center;
	padding: 10px;
}

td{
	border-width: 1px;
	border-color: black;
	border-style: solid;
}

table tr:nth-child(even){
	background-color: #3399ff;
}

table tr:last-child{
	color: blue;
}

p{text-align: justify;}

h1{font-size: 26px;}
 
